<!DOCTYPE html>
<html lang="en">
<%- include( '../partials/head.ejs', { page: 'Register'}) %>
<body>
    <div id="login-container">
        <div id="login-form">
          <h3>Login</h3>
          <form action="/login" method="POST">
            <div id="input-group">
                <div class="field">
                <label class="label">Email:</label>
                <div class="control">
                    <input
                    name="email"
                    class="input"
                    type="email"
                    placeholder="example@domain.com"
                    />
                </div>
                </div>
                <div class="field">
                <label class="label">Password:</label>
                <div class="control">
                    <input
                    name="password"
                    class="input"
                    type="password"
                    placeholder="******"
                    />
                </div>
                </div>
            </div>
            <div id="submit">
              <div class="control">
                <button type="submit">Submit</button>
              </div>
            </div>
            <a href="/register">Sign up to create an account</a>
            <% if(message) { %>
                <span id="flash-message"><%= message %></span>
            <% } %>
          </form>
        </div>
    

    </div>
    
</body>
</html>