<!DOCTYPE html>
<html lang="en">
<%- include( '../partials/head.ejs', { page: 'Register'}) %>
<body>
    <div id="login-container">
        <div id="login-form">
            <h3>Login</h3>
            <form action="/login" method="POST">
                <p>
                    <label class="label">Email:</label>
                    <input
                        name="email"
                        class="input"
                        type="email"
                        placeholder="example@domain.com"
                    />
                </p>
                <p>
                    <label class="label">Password:</label>
                    <input
                        name="password"
                        class="input"
                        type="password"
                        placeholder="******"
                    />
                </p>
                <p>
                    <a id="sign-up" href="/register">Sign up to create an account</a>
                    <button type="submit">Submit</button>
                </p>        
            </form> 
            <% if(message) { %>
                <span id="flash-message"><%= message %></span>
            <% } %> 
        </div>
    </div>
</body>
</html>