<!DOCTYPE html>
<html lang="en">
<%- include( '../partials/head.ejs', { page: 'Register'}) %>
<body>
    <div id="register-container">
        <div id="register-form">
          <h3>Register</h3>
          <form action="/register" method="POST">
            <p>
                <label class="label">Your name</label>
                
                <input
                    name="name"
                    class="input"
                    type="text"
                    required
                />
            </p>
            <p>
                <label class="label">Your e-mail address</label>
                
                <input
                    name="email"
                    class="input"
                    type="email"
                    placeholder="example@domain.com"
                    required
                />
            </p>
            <p>
                
                <label class="label">Secure password:</label>
                
                <input
                    name="password"
                    class="input"
                    type="password"
                    placeholder="******"
                    required
                />
                
            </p>
            <p>
                <a id="already-signed-up" href="/login">Already have an account?</a>
                <button type="submit">Submit</button>
            <p>
          </form>
        </div>
    </div>
</body>
</html>