<!DOCTYPE html>
<html lang="en">
<%- include( 'partials/head.ejs') %>
<body>
    <div id="modal">
        <div id="modal-textbox">
        <img class="mountain" src="https://share.sketchpad.app/22/c41-26b8-fcf5ee.png" alt="mountain">
        <img src="https://fontmeme.com/permalink/220429/c212d0e62f59f0785dc6363e95133f96.png" alt="sixty three logo">
        <a id="close" href="#">Enter Site</a>
        </div>
    </div> 

    

    <div class="homeAbout">
        <div class="info1">
            <div class="infoText1"><h3>Sixty-three national parks are in the U.S.</h3></div>
        </div>
        <div class="info2">
            <div class="infoText1"><h3>Learn about these wild and diverse parks</h3></div>
        </div>
        <div class="info3">
            <div class="infoText1"><h3>Track your visits and share your experiences</h3></div>
        </div>
    </div>
    <a href="/login">Login</a> | <a href="/register">Register</a>
    <img src="" alt="Interactive US Map">
</body>
</html>