<!DOCTYPE html>
<html lang="en">
<%- include( 'partials/head.ejs') %>
<body>
    <a href="/login">Login</a> | <a href="/register">Register</a>
    <h3>Sixty-three national parks are in the U.S. Track your progress and share your experiences at these wild and diverse parks</h3>
    <img src="" alt="Interactive US Map">
</body>
</html>