@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

* {
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Radio Canada", sans-serif;
}

li {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a.active {
  text-decoration: none;
  color: #ffe766;
}

h3 {
  font-size: 8em;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(20, 49, 9, 0.7);
  color: #D0D6B3;
  height: 75px;
  text-shadow: 0.1em 0.1em 0.12em rgba(0, 0, 0, 0.33);
}

nav a {
  color: #D0D6B3;
  font-size: 2em;
  margin: 0 1em;
}

nav .navimage {
  margin: 0 .5em;
  height: 2.5em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: drop-shadow(2px 2px 5px rgba(34, 34, 34, 0.433));
  filter: drop-shadow(2px 2px 3px rgba(34, 34, 34, 0.433));
}

.navimage:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#modal {
  background-color: #143109;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: null;
  z-index: 2;
}

#modal-textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #143109;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 10px;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

#modal-textbox img {
  height: 10em;
}

#modal-textbox .mountain {
  top: 20em;
  height: 14em;
  margin: 0;
  border-radius: 50%;
}

#modal-textbox a {
  color: #D0D6B3;
  font-size: 2.5em;
  margin: 1em;
  border: 0.25em solid #D0D6B3;
  border-radius: .6em;
  padding: .4em;
  z-index: 2;
  text-shadow: 0.3em 0.3em 0.4em rgba(0, 0, 0, 0.2);
}

#close:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: #D0D6B3;
  color: #143109;
  text-shadow: 0.3em 0.3em 0.4em rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.homeAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #143109;
  height: 100vh;
}

.homeAbout .info1 {
  background: url("https://images.pexels.com/photos/8947305/pexels-photo-8947305.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 85%;
  min-height: 30%;
  margin: 1em 0;
  overflow: hidden;
  -webkit-animation-name: null;
          animation-name: null;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  border-radius: 3em;
}

.homeAbout .info2 {
  background: url("https://images.pexels.com/photos/63553/pexels-photo-63553.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 85%;
  min-height: 30%;
  margin: 1em 0;
  overflow: hidden;
  -webkit-animation-name: null;
          animation-name: null;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  border-radius: 3em;
}

.homeAbout .info3 {
  background: url("https://images.pexels.com/photos/248820/pexels-photo-248820.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 85%;
  min-height: 30%;
  margin: 1em 0;
  overflow: hidden;
  -webkit-animation-name: null;
          animation-name: null;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  border-radius: 3em;
}

.infoText1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  background-color: rgba(0, 0, 0, 0.22);
  height: 100%;
  padding-left: 3em;
  text-shadow: 0.3em 0.3em 0.4em rgba(0, 0, 0, 0.3);
}

.infoText1 a {
  border-radius: .2em;
  background: white;
  color: #143109;
  border: .15em solid white;
  margin: 0.22em;
  padding: .15em;
}

.infoText1 a:hover {
  border-radius: .4em;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: white;
  background: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #143109;
}

.container h1 {
  font-size: 7em;
  color: #D0D6B3;
  text-shadow: 0.1em 0.1em 0.12em rgba(0, 0, 0, 0.266);
  margin: .5em 0 0 0;
}

.container .parkList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container li {
  margin: 1em;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.12em rgba(0, 0, 0, 0.33);
}

.container a {
  color: #D0D6B3;
}

.container img {
  height: 200px;
  margin: 1em;
  -webkit-filter: drop-shadow(2px 2px 5px rgba(34, 34, 34, 0.333));
  filter: drop-shadow(2px 2px 10px rgba(34, 34, 34, 0.333));
}

a:hover {
  color: #ffe766;
}

h1 {
  font-size: 7em;
  color: #D0D6B3;
  text-shadow: 0.1em 0.1em 0.12em rgba(0, 0, 0, 0.266);
  margin: .5em 0 0 0;
}

div#user-show-container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #143109;
  text-shadow: 0.2em 0.3em 0.3em rgba(0, 0, 0, 0.08);
}

div#user-show-container div#user-show-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid black;
  margin: 1.5em 3em 0 1.5em;
  padding: 0 1em 1em 1em;
  background-color: #D0D6B3;
  border-color: #47745d5c;
  border-width: 0.5em;
  border-radius: 14px;
}

div#user-show-container div#user-show-top-row div#user-show-avatar-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

div#user-show-container div#user-show-top-row div#user-show-avatar-container img#user-show-avatar {
  height: 150px;
  margin: 2em 2em 2em 4em;
  border-radius: 20em;
}

div#user-show-container div#user-show-top-row div#user-show-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.75em;
  margin-top: 4em;
}

div#user-show-container div#user-show-top-row div#user-show-name-container a {
  font-size: 2em;
}

div#user-show-container div#user-show-top-row div#user-show-name-container a img {
  display: inline;
  max-width: 18px;
  color: green;
}

div#user-show-container div#user-show-middle-row {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#user-show-container div#user-show-middle-row #user-show-reviews-title-container {
  width: 50%;
  border: solid black;
  margin: 1em .6em 0 1.5em;
  padding: 0 1em 1em 1em;
  background-color: #D0D6B3;
  border-color: #47745d5c;
  border-width: 0.5em;
}

div#user-show-container div#user-show-middle-row #user-show-reviews-title-container #reviews-title {
  font-size: 3em;
  display: block;
  margin: 0.5em 0 0 0;
}

div#user-show-container div#user-show-middle-row #user-show-badges-title-container {
  width: 50%;
  border: solid black;
  margin: 1em 3em 0 0.6em;
  padding: 0 1em 1em 1em;
  background-color: #D0D6B3;
  border-color: #47745d5c;
  border-width: 0.5em;
}

div#user-show-container div#user-show-middle-row #user-show-badges-title-container #badges-title {
  font-size: 3em;
  display: block;
  margin: 0.5em 0 0 0;
}

div#user-show-container div#user-show-bottom-row {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
}

div#user-show-container div#user-show-bottom-row div#user-show-reviews-container {
  width: 50%;
  border: solid black;
  margin: 0 0.6em 0 1.5em;
  padding: 0 1em 1em 1em;
  background-color: #D0D6B3;
  border-color: #47745d5c;
  border-width: 0.5em;
}

div#user-show-container div#user-show-bottom-row div#user-show-reviews-container #park-name {
  font-size: 3em;
  display: block;
  margin: 0.5em 0 0 0;
  text-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.1);
}

div#user-show-container div#user-show-bottom-row div#user-show-reviews-container #review-rating {
  font-size: 2em;
  display: inline;
  text-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.1);
}

div#user-show-container div#user-show-bottom-row div#user-show-reviews-container #review-comment {
  font-size: 2em;
  display: inline;
  margin: 0 1em 0 0;
  text-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.1);
}

div#user-show-container div#user-show-bottom-row div#user-show-badges-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: solid black;
  margin: 0 3em 0 0.6em;
  padding: 0 1em 1em 1em;
  background-color: #D0D6B3;
  border-color: #47745d5c;
  border-width: 0.5em;
}

div#user-show-container div#user-show-bottom-row div#user-show-badges-container img.user-show-badge {
  max-height: 100px;
  max-width: 100px;
  margin: 1.7em 0 0 0;
  -webkit-filter: drop-shadow(2px 2px 5px #222);
  filter: drop-shadow(2px 2px 5px rgba(34, 34, 34, 0.431));
}

.userIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: auto;
  padding: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #143109;
}

.userIndex .userList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.userIndex li {
  margin: 1em;
  text-align: center;
}

.userIndex a {
  color: #D0D6B3;
}

.userIndex img {
  height: 200px;
  margin: 1em;
  border-radius: 50%;
}

a:hover {
  color: #ffe766;
}

#flash-message {
  color: blue;
  font-size: 1.5em;
  display: block;
}

#login-container {
  background-color: #143109;
  background-image: url("https://share.sketchpad.app/22/c41-26b8-fcf5ee.png");
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

#login-container #login-form {
  background-color: #D0D6B3;
  -webkit-box-shadow: -0.2em 0 .4em black, -0.2em 0 .4em black;
          box-shadow: -0.2em 0 .4em black, -0.2em 0 .4em black;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

#login-container #login-form form {
  padding: 15px;
  display: table;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login-container #login-form form p {
  display: table-row;
  text-align: center;
}

#login-container #login-form form label, #login-container #login-form form input {
  font-size: 2.2em;
  border-radius: 5px;
  border-style: 1px solid #143109;
  display: table-cell;
}

#login-container #login-form form h3 {
  color: #143109;
}

#login-container #login-form form button {
  display: table-cell;
  background-color: #143109;
  color: #D0D6B3;
  font-size: 2em;
  margin: 1em;
  border: 0.2em solid #D0D6B3;
  border-radius: .2em;
  padding: .2em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#login-container #login-form form button:hover {
  background-color: #D0D6B3;
  /* Green */
  color: #143109;
  border: 0.2em solid #143109;
}

#login-container #login-form form #sign-up {
  display: table-cell;
}

#register-container {
  background-color: #143109;
  background-image: url("https://share.sketchpad.app/22/c41-26b8-fcf5ee.png");
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

#register-container #register-form {
  background-color: #D0D6B3;
  -webkit-box-shadow: -0.2em 0 .4em black, -0.2em 0 .4em black;
          box-shadow: -0.2em 0 .4em black, -0.2em 0 .4em black;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

#register-container #register-form form {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#register-container #register-form form p {
  display: table-row;
  text-align: center;
}

#register-container #register-form form label, #register-container #register-form form input {
  font-size: 2.2em;
  border-radius: 5px;
  border-style: 1px solid #143109;
  display: table-cell;
}

#register-container #register-form form h3 {
  color: #143109;
}

#register-container #register-form form button {
  display: table-cell;
  background-color: #143109;
  color: #D0D6B3;
  font-size: 2em;
  margin: 1em;
  border: 0.2em solid #D0D6B3;
  border-radius: .2em;
  padding: .2em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#register-container #register-form form button:hover {
  background-color: #D0D6B3;
  /* Green */
  color: #143109;
  border: 0.2em solid #143109;
}

#register-container #register-form form #already-signed-up {
  display: table-cell;
}

div#user-edit-container {
  background-color: #143109;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div#user-edit-container div#user-edit-top-row {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #143109;
  color: #D0D6B3;
}

div#user-edit-container div#user-edit-top-row div#user-edit-avatar-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

div#user-edit-container div#user-edit-top-row div#user-edit-avatar-container img#user-edit-avatar {
  height: 150px;
  margin: 1em;
}

div#user-edit-container div#user-edit-bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#user-edit-container div#user-edit-bottom-row form {
  color: #D0D6B3;
  font-size: 1.5em;
  display: table;
}

div#user-edit-container div#user-edit-bottom-row form p {
  display: row;
}

div#user-edit-container div#user-edit-bottom-row form label, div#user-edit-container div#user-edit-bottom-row form input {
  display: table-cell;
  font-size: 1.2em;
}

div#user-edit-container div#user-edit-bottom-row form button, div#user-edit-container div#user-edit-bottom-row form a {
  display: inline-block;
  background-color: #D0D6B3;
  color: #143109;
  font-size: 1.5em;
  margin: 1em;
  border: 0.2em solid #143109;
  border-radius: .2em;
  padding: .2em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

div#user-edit-container div#user-edit-bottom-row form button:hover {
  background-color: #143109;
  /* Green */
  color: #D0D6B3;
  border: 0.2em solid #D0D6B3;
}

div#user-edit-container div#user-edit-bottom-row form a:hover {
  background-color: #143109;
  /* Green */
  color: #D0D6B3;
  border: 0.2em solid #D0D6B3;
}
/*# sourceMappingURL=main.css.map */