
#modal {
	background-color: $primary-color;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow: auto;
    display: null;
    z-index: 2;
    
}
#modal-textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background-color: $primary-color;
	height: 100%;
	width: 100%;
    text-align: center;
    padding: 10px;
    animation-name: fadeIn;
    animation-duration: 5s;
    img{
        height: 10em;
    }
    .mountain{
        top: 20em;
        height: 14em;
        margin: 0;
        border-radius: 50%;
    }
    a{
        color: white;
        font-size: 2.5em;
        margin: 1em;
        border: .25em solid white;
        border-radius: .6em;
        padding: .4em;
        z-index: 2;
        text-shadow: .3em .3em .4em rgba(0,0,0,0.2);
    }
}
#close:hover{
    transform: scale(1.2);
    background: white;
    color: $primary-color;
    text-shadow: .3em .3em .4em rgba(0,0,0,0.2);
    font-weight: bold;
}

// end modal styling
.homeAbout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:$primary-color;
    // width: 100vw;
    height: 100vh;
    .info1{
    background: url('https://images.pexels.com/photos/8947305/pexels-photo-8947305.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: top;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    width: 85%;
    min-height: 30%;
    margin:1em 0;
    overflow: hidden; 
    animation-name: null;
    animation-duration: 3s;
    border-radius: 3em;
    }
    .info2{
    background: url('https://images.pexels.com/photos/63553/pexels-photo-63553.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    width: 85%;
    min-height: 30%;
    margin:1em 0;  
    overflow: hidden; 
    animation-name: null;
    animation-duration: 4s;
    border-radius: 3em;
    }
    .info3{
    background: url('https://images.pexels.com/photos/248820/pexels-photo-248820.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    width: 85%;
    min-height: 30%;
    margin:1em 0; 
    overflow: hidden; 
    animation-name: null;
    animation-duration: 5s;
    border-radius: 3em;
    }
    
}
.infoText1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    background-color: rgba(0,0,0,0.1);
    height: 100%;
    padding-left: 3em;
    text-shadow: .3em .3em .4em rgba(0,0,0,0.2);
    
    a{
        border-radius: .2em;
        background: white;
        color: $primary-color;
        border: .15em solid white;
        padding: .2em;
    }
    a:hover{
        border-radius: .4em;
        transform: scale(1.2);
        color: white;
        background: none;
    }
}