.containerPark{
    background-color: transparentize($color: $primary-color, $amount: .3);
    color: $secondary-color;
    
}

.parkAbout{
    display:flex;
    
}


.parkImageContainer{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    .imageText{
        height:25%;
        // width:100%;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:flex-start;
        position: absolute;
        bottom: 0px;
        background-color:  rgba(0,0,0,0.7);
        color: $secondary-color;
        padding-left: 20px;
        padding-right: 20px;
        flex-wrap: wrap;
        overflow:auto;
        .parkButton{
            margin: 1em 0em;
            padding: .5em;
            font-size: 1.5em;
            background-color: $secondary-color;
            color:$primary-color;
            border-radius: 10px;
        }
        .parkName{
            font-size: 4em;
            
        }
        p{
            font-size: 2em;
            border: 1px solid $secondary-color;
            background-color: $primary-color;
        }
        h2{
            font-size: 2em;
            text-decoration: underline;
        }
        
        .aboutText{
            font-size: 2em;
            width:50%;
            overflow: auto;
            margin: 1em 0 0 0;
        }
    }
    .parkImage{
        width:100%;
        border-bottom: 10px solid $primary-color;
    }
    .parkBadge{
        text-align: center;
    }
    .badge-image{
        height:auto;
        width:200px;
        overflow: hidden;
        
    }
    .aboutBadgeText{
        font-size: 2em;
        text-align: center;
    }
    .parkButton:hover{
        background-color: $primary-color;
        color:$secondary-color;
    }
}
.reviewSection{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 2em  0 0 0;

}
.reviewForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 0;
    legend{
        text-transform: uppercase;
    }
    .submitButton{
        // display: block;
        margin: 1em 0em;
        padding: .2em;
        font-size: 1em;
        background-color: $primary-color;
        color:$secondary-color;
        border-radius: 10px;
        
    }
    textarea{
        background-color: $secondary-color;
    }
}
.submitButton:hover{
    background-color: $secondary-color;
    color:$primary-color;
}

fieldset{
    border: 0;
}
.reviewComments{
    padding:1em;
    border: 5px solid $primary-color;
    margin: 0 0 1em 0;
    p{
        font-size: 2em;
    }
    h3{
        text-decoration: underline;
    }
}
.deleteButton{
    margin: 1em 0em;
    padding: .2em;
    font-size: 1em;
    background-color: $primary-color;
    color:$secondary-color;
    border-radius: 10px;
}