.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 2em;
    justify-content: center;
    align-items: center;
    background: $primary-color;
   h1{
       font-size: 7em;
    //    text-decoration: underline;
       color: $secondary-color;
       text-shadow: .1em .1em .12em rgba(0, 0, 0, 0.266);
       margin: .5em 0 0 0;
    }
    .parkList{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    } 
    li{
        margin: 1em;
        text-align: center;
        text-shadow: .1em .1em .12em rgba(0, 0, 0, 0.33);
    }
    a{
        color: $secondary-color;
    }

    img{
        height: 200px;
        margin: 1em;
        -webkit-filter: drop-shadow(2px 2px 5px rgba(34, 34, 34, 0.333));
        filter: drop-shadow(2px 2px 10px rgba(34, 34, 34, 0.333));
    }
}

a:hover{
    color: $hover-color;
    
}
h1{
    font-size: 7em;
    color: $secondary-color;
    text-shadow: .1em .1em .12em rgba(0, 0, 0, 0.266);
    margin: .5em 0 0 0;
}