div#user-show-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    text-shadow: .2em .3em .3em rgba(0,0,0,0.08);

    div#user-show-top-row {
        // width: 100vw;
        display: flex;
        border: solid black;
        margin: 1.5em 3em 0 1.5em;
        padding: 0 1em 1em 1em;
        background-color: $secondary-color;
        border-color: #47745d5c;
        border-width: 0.5em;
        border-radius: 14px;

        div#user-show-avatar-container {
            width: fit-content;
            height: fit-content;

            img#user-show-avatar {
                height: 150px;
                margin: 2em 2em 2em 4em;
                border-radius: 20em;
            }
        }

        div#user-show-name-container {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            font-size: 0.75em;
            margin-top: 4em;

            a {
                font-size: 2em;
                img {
                    display: inline;
                    max-width: 18px;
                    color: green;
                }
            }
        }
    }

    div#user-show-middle-row {
        width: 100vw;
        // height: 100vh;
        display: flex;

        #user-show-reviews-title-container{
            width:50%;
            border: solid black;
            margin: 1em .6em 0 1.5em;
            padding: 0 1em 1em 1em;
            background-color: $secondary-color;
            border-color: #47745d5c;
            border-width: 0.5em;

            #reviews-title {
                font-size: 3em;
                display: block;
                margin: 0.5em 0 0 0;
            }
        }

        #user-show-badges-title-container{
            width:50%;
            border: solid black;
            margin: 1em 3em 0 0.6em;
            padding: 0 1em 1em 1em;
            background-color: $secondary-color;
            border-color: #47745d5c;
            border-width: 0.5em;

            #badges-title {
                font-size: 3em;
                display: block;
                margin: 0.5em 0 0 0;
            }
        }
    }

    div#user-show-bottom-row {
        width: 100vw;
        // height: 100vh;
        display: flex;
        margin: 1em 0;

        div#user-show-reviews-container {
            width:50%;
            border: solid black;
            margin: 0 0.6em 0 1.5em;
            padding: 0 1em 1em 1em;
            background-color: $secondary-color;
            border-color: #47745d5c;
            border-width: 0.5em;

                #park-name {
                    font-size: 3em;
                    display: block;
                    margin: 0.5em 0 0 0;
                    text-shadow: .2em .2em .3em rgba(0,0,0,0.1);

                }

                #review-rating{
                    font-size: 2em;
                    display: inline;
                    text-shadow: .2em .2em .3em rgba(0,0,0,0.1);
                }

                #review-comment{
                    font-size: 2em;
                    display: inline;
                    margin: 0 1em 0 0;
                    text-shadow: .1em .1em .5em rgba(0,0,0,0.1);
                }
        }

        div#user-show-badges-container {
            width:50%;
            display: flex;
            flex-wrap: wrap;
            border: solid black;
            margin: 0 3em 0 0.6em;
            padding: 0 1em 1em 1em;
            background-color: $secondary-color;
            border-color: #47745d5c;
            border-width: 0.5em;

            img.user-show-badge {
                max-height: 100px;
                max-width: 100px;
                margin: 1.7em 0 0 0;
                -webkit-filter: drop-shadow(5px 5px 5px #222);
                filter: drop-shadow(2px 2px 5px rgba(34, 34, 34, 0.431));
            }
        }
    }

    
}
