div#user-show-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    div#user-show-top-row {
        width: 100vw;
        display: flex;
        
        div#user-show-avatar-container {
            width: fit-content;
            height: fit-content;

            img#user-show-avatar {
                height: 150px;
                margin: 2em;
                border-radius: 20em;
            }
        }

        div#user-show-name-container {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            font-size: 1em;

            a {
                font-size: 2em;
            }
        }
    }
    div#user-show-bottom-row {
        width: 100vw;
        // height: 100vh;
        display: flex;

        div#user-show-reviews-container {
            width:50%;
            border: solid black;
            margin: 0 2em 0 2em;
            padding: 0 1em 1em 1em;

                #park-name {
                    font-size: 3em;
                    display: block;
                    margin: 0.5em 0 0 0;
                }

                #review-rating{
                    font-size: 2em;
                    display: inline;
                }

                #review-comment{
                    font-size: 2em;
                    display: inline;
                    margin: 0 1em 0 0;
                }
        }

        div#user-show-badges-container {
            width:50%;
            display: flex;
            flex-wrap: wrap;
            border: solid black;
            margin: 0 2em 0 0;
            padding: 0 1em 1em 1em;

            img.user-show-badge {
                max-height: 100px;
                max-width: 100px;
                margin: 1.7em 0 0 0;
            }
        }
    }

    
}
