div#user-edit-container {
    background-color: $primary-color;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    div#user-edit-top-row {
        width: 100vw;
        display: flex;
        background-color: $primary-color;
        color: $secondary-color;

        div#user-edit-avatar-container {
            width: fit-content;
            height: fit-content;

            img#user-edit-avatar {
                height: 150px;
                margin: 1em;
            }
        }

    }
    div#user-edit-bottom-row {
        display: flex;
        justify-content: center;

        form {
            color: $secondary-color;
            font-size: 1.5em;
            display: table;

            p {
                display: row;
            }

            label, input {
                display: table-cell;
                font-size: 1.2em;
            }
            
            button, a {
                display: inline-block;
                background-color: $secondary-color;
                color: $primary-color;
                font-size: 1.5em;
                margin: 1em;
                border: .2em solid $primary-color;
                border-radius: .2em;
                padding: .2em;
                transition: $base-transition;
            }
                  
            button:hover {
                background-color: $primary-color; /* Green */
                color: $secondary-color;
                border: .2em solid $secondary-color;
            }

            a:hover {
                background-color: $primary-color; /* Green */
                color: $secondary-color;
                border: .2em solid $secondary-color;
            }

        }
    }
}
